# Домашнее задание по теме «Python для анализа данных: pandas»

**Задание 1**
Используем файл keywords.csv.
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}
Результат классификации запишите в отдельный столбец region.

In [62]:
import pandas as pd
import numpy as np
keywords = pd.read_csv('keywords.csv')
keywords.head(5)
def geo_data(row):
    if 'владивосток' in row['keyword'] or'сахалин' in row['keyword'] or 'хабаровск' in row['keyword']:
        return 'Дальний Восток'
    elif 'петербург' in row['keyword'] or 'псков' in row['keyword'] or 'мурманск' in row['keyword']:
        return 'Северо-Запад'
    elif 'москва' in row['keyword'] or 'тула' in row['keyword'] or 'ярославль' in row['keyword']:
        return 'Северо-Запад'
    return 'undefined'
keywords['regions'] = keywords.apply(geo_data, axis=1)
keywords.head()

         keyword     shows    regions
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [63]:
keywords[keywords['keyword']=='петербург']

         keyword  shows       regions
20823  петербург  14859  Северо-Запад

**Задание 2**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
    - оценка 2 и меньше - низкий рейтинг
    - оценка 4 и меньше - средний рейтинг
    - оценка 4.5 и 5 - высокий рейтинг
Результат классификации запишите в столбец class

In [11]:
import pandas as pd
import numpy as np
ratings = pd.read_csv('ratings.csv')
ratings.head(2)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [18]:
import pandas as pd
import numpy as np
ratings = pd.read_csv('ratings.csv')
# ratings.head(2)
def classification_on_rating(row):
    if row['rating']<2.0:
        return 'низкий рейтинг'
    elif 2 <= row['rating'] <= 4:
        return 'средний рейтинг'
    return 'высокий рейтинг'
ratings['class'] = ratings.apply(classification_on_rating, axis=1)
ratings.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  средний рейтинг
1       1        3     4.0  964981247  средний рейтинг
2       1        6     4.0  964982224  средний рейтинг
3       1       47     5.0  964983815  высокий рейтинг
4       1       50     5.0  964982931  высокий рейтинг